<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<import resource="applicationContext-DAO.xml" />
	<bean id="productService" class="com.vee.services.ProductService">
		<property name="productDAO" ref="productDAO" />
	</bean>
	<bean id="imageService" class="com.vee.services.ImageService">
		<property name="imageDAO" ref="imageDAO" />
	</bean>
	<bean id="categoryService" class="com.vee.services.CategoryService">
		<property name="categoryDAO" ref="categoryDAO" />
	</bean>
	<bean id="serviceBundle" class="com.vee.services.ServiceBundle">
		<property name="productService" ref="productService" />
		<property name="imageService" ref="imageService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<!-- <bean id="imageService" class="com.vee.services.ImageService"> <property 
		name="imageDAO" ref="imageDAO" /> </bean> <bean id="categoryService" class="com.vee.services.CategoryService"> 
		<property name="categoryDAO" ref="categoryDAO" /> </bean> -->
</beans>