body {
	background-image: url("../images/BlueBackground.jpg");
	background-color: #fffff;
	font-family: monospace;
	color: #808080;
}

.clear {
	clear: both;
}

div#global {
	display: block;
	margin: 0px 18% 0px;
	width: 930px;
}

#item {
	display: block;
	width: 150px;
	float: left;
	padding: 10px;
	border: 1px solid;
}

#item_detail {
	display: block;
	width: 200px;
	float: left;
	padding: 10px;
	border: 1px solid;
}

#item_edit {
	display: block;
	width: 125px;
	float: left;
	padding: 10px;
	border: 1px solid;
}

div#header {
	background-image: url("../images/VeeSenza_h100.png");
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px 18% 0px;
	height: 100px;
	width: 930px;
	padding: 20px;
	background-color: #0;
	border-top: 4px groove pink;
	border-bottom: 4px groove pink;
}

div#content {
	width: 700px;
	float: left;
	padding: 20px;
	background-color: #fffff;
	padding: 20px;
}

div#content *#info {
	border-top: 1px solid;
	border-bottom: 1px double;
}

div#navigator {
	float: left;
	padding: 5px;
	width: 150px;
	background-color: #fffff;
	float: left;
	width: 175px;
}

div#navigator span {
	background-color: #ffd1e8;
	margin: 1px;
	width: 175px;
	height: 30px;
	float: left;
}

div#navigator span:HOVER {
	background-color: #ffffff;
	margin: 1px;
	width: 150px;
	float: left;
	width: 150px;
}

div#navigator span a {
	margin-left: 15px;
	vertical-align: middle;
}